<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zwzx.nlfb.mapper.StudentMapper">
    <select id="selectAllStudentInfo" resultType="top.zwzx.nlfb.pojo.StudentInfo">
        select * from student
    </select>
</mapper>