<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zwzx.nlfb.mapper.TeacherMapper">
    <select id="selectAllTeacherInfo" resultType="top.zwzx.nlfb.pojo.TeacherInfo">
        select * from teacher
    </select>
    <insert id="insertTeacherInfo" parameterType="top.zwzx.nlfb.pojo.TeacherInfo">
        insert into teacher(tName,position,phonenumber,address) value(#{tName},#{position},#{phonenumber},#{address})
    </insert>
</mapper>